<main class="w-full flex-grow p-6">
  <h1 class="text-3xl text-black pb-6">Admin Dashboard</h1>

   <div class="flex flex-wrap mt-6 px-8 gap-x-8">
    <!-- Active Users -->
    <%= render partial: 'dashboard_card', locals: { title: 'Active Users', icon: 'fa-users', color: 'blue-600', count: @users.where('updated_at > ?', 1.month.ago).count } %>

     <!-- All Users -->
    <%= render partial: 'dashboard_card', locals: { title: 'All Users', icon: 'fa-user-check', color: 'green-600', count: @users.count } %>


    <!-- Total Songs -->
    <%= render partial: 'dashboard_card', locals: { title: 'Total Songs', icon: 'fa-music', color: 'red-600', count: @songs.count } %>


    <!-- Songs with URLs -->
    <%= render partial: 'dashboard_card', locals: { title: 'Songs with URLs', icon: 'fa-link', color: 'purple-600', count: @songs_with_urls.count } %>

    <!-- Users with Songs -->
    <%= render partial: 'dashboard_card', locals: { title: 'Users with Songs', icon: 'fa-user', color: 'yellow-600', count: @users_with_songs.count } %>

  </div>
</main>